# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
/bak/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# IDE
.idea/
.vscode/ 

# 忽略所有 CSV xlsx 文件
*.csv
*.xlsx

# 忽略所有 Python 文件
*.py

# 忽略所有 doc 目录下的 Markdown 文件
doc/*.md




